<link rel="icon" type="image/png" href="../assets/ST.png">
<link rel="icon" type="image/png" href="https://tuschmann.github.io/assets/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://tuschmann.github.io/assets/favicon-16x16.png" sizes="16x16">
<title>Sturmius Tuschmann</title>
<article>
  <header><h1>{{ include.title | default: page.title }}</h1></header>
  <ul class="archive">
    {% for post in site.posts %}
    <li>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</article>
