---
layout: default
---
<link rel="icon" type="image/png" href="../assets/ST.png">
<link rel="icon" type="image/png" href="https://tuschmann.github.io/assets/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://tuschmann.github.io/assets/favicon-16x16.png" sizes="16x16">
<title>Sturmius Tuschmann</title>
<article>
  {% include meta.html post=page %}
  {{ content }}
  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>
